.typetitle{
	font-size: 40px;
	margin-bottom: 30px;
	margin-top: 50px;
}


.outerdiv {
	height: 500px;
	/*border: solid black;*/
	white-space: nowrap;
	padding-left: 30px;
	padding-right: 30px;
}

.todiv {
	height: 50%;
	/*border: solid red;*/
	white-space: nowrap;
}

.fromdiv {
	height: 50%;
	/*border: solid blue;*/
	white-space: nowrap;
}

.damagetype {
	margin-bottom: 10px;
}

.damage {
	width: 50%;
	height: 100%;
	/*border: solid green;*/
	display: inline-block;
	vertical-align: top;
}

.damagelist {
	list-style-type: none
}

/*#sto {
	border-left: solid black;
	border-bottom: solid black;
}
*/
#wto {
	border-left: solid black;
	border-bottom: solid black;
}

#sfrom {
	border-top: solid black;
	border-right: solid black;
}
/*
#wfrom {
	width: 50%;
	height: 100%;
	border: solid purple;
	display: inline-block;
    vertical-align: top;

}*/

